<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>598003668927-m5e4g1ptqf5un94k0vjofaoe9bgrg7i4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.598003668927-m5e4g1ptqf5un94k0vjofaoe9bgrg7i4</string>
	<key>API_KEY</key>
	<string>AIzaSyAFdAXLj_DXB41OZPL_PBUaE7M3CjFVGic</string>
	<key>GCM_SENDER_ID</key>
	<string>598003668927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.NicholasRepaci.ChartTracker</string>
	<key>PROJECT_ID</key>
	<string>charttracker-77d70</string>
	<key>STORAGE_BUCKET</key>
	<string>charttracker-77d70.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:598003668927:ios:b3e1b72136f700b804b30a</string>
</dict>
</plist>